# Binarne datoteke
/ntech
/ntech.exe

# Baza podataka
*.db
*.db-shm
*.db-wal

# Promenljive okruženja
ntech.env

# Privremeni fajlovi
*.tmp
*.log

# Kate
*.kate-swp
.*.kate-swp

# VSCodium/VSCode
.vscode/

# IDE podešavanja
.idea/
*.swp

# Backup fajlovi
backups/

# Logovi
logs/

# Upload fajlovi
web/static/uploads/

.env

# Buildovani binarni fajlovi
ntech
ntech-*

